*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --purple1: #180d57;
  --purple2: #4A11A5;
  --green1: #8FF3B3;
  --green2: #AFF9A0;
  --green3: #C8FC9B;
  --md_fontsize: 1.7rem;
}
html{
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(var(--purple2),var(--purple1));
}
header{
  display: block;
}
.barra{
  display:flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}
.barra li, .barra a{
  list-style-type: none;
  text-decoration: none;
  color: var(--green1);
  font-size: var(--md_fontsize);
}
h1{
  display: inline;
  font-size: 3.5rem;
}
.v-claro{
  color: var(--green2);
}
.v-oscuro{
  color: var(--green3);
}
main{
  text-align: center;
}


