*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --purple1(#2E0D75)
  --purple2(#5710A8)
}
html{
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;;
  background: linear-gradient(#5710A8,#2E0D75);
}