*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white: #ffffff;
  --gray: #7e7e7e;
  --blue1: #220835;
  --blue2: #40188C;
  --green1: #7DE2D1;
  --green2: #339989;
  --green3: #1b7272;
  --yellow: #FFBD00;
  --md_fontsize: 1.7rem;
}
html{
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(var(--white),var(--green1)) fixed;
}
header{
  display: block;
}
.barra{
  display:flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}
.barra li, .barra a{
  list-style-type: none;
  text-decoration: none;
  color: var(--green2);
  font-size: var(--md_fontsize);
}
.canvas{
  width: 100vw;
  height: 100px;
}
.contenido{
  margin: 0 1rem;
}
.nombre{
  padding-top: 1rem;
}
h1{
  display: inline;
  font-size: 3rem;
}
.v-claro{
  color: var(--blue1);
}
.v-oscuro{
  color: var(--blue2);
}
.lista{
  font-size: 1.5rem;
  color: var(--green2);
  padding-top: 0.25rem;
}
.bio{
  padding-top: 1rem;
  font-size: 1.25rem;
  color: var(--green3);
}
main{
  text-align: center;
}
.tarjetas h2{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: var(--blue2);
  text-decoration: underline;
}
.tarjetas p{
  padding-top: 0.25rem;
  color: var(--green3);
  font-size: 1.5rem;
}
.tarjetas ul li{
  list-style-position: inside;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  list-style-type:disc;
  color: var(--green2)
}
.portafolio h2{
  color: var(--blue1);
}
.portafolio p{
  font-size: 1.5rem;
  color: var(--blue1);
}
.owl-container{
  
}